/* Global Styling */
:root {
  --primary-color: #007bff;
  --bg-color: #f0f4f7;
  --text-color: #333;
  --white-color: #ffffff;
  --error-bg-color: #f8d7da;
  --error-border-color: #f5c6cb;
  --error-text-color: #721c24;
  --success-bg-color: #d4edda;
  --success-border-color: #c3e6cb;
  --success-text-color: #155724;
}

/* Role Container Styling */
.role-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 34px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.role-option {
  width: 50%;
  position: relative;
}

.role-option input[type="radio"] {
  display: none;
}

.role-btn {
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 34px;
  font-size: 16px;
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.role-option input[type="radio"]:checked + .role-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

/* General Container Styling */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--bg-color);
}

.form-container {
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  font-weight: bold;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  width: auto;
}

input,
select {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus,
select:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Error Messages Styling */
.error-messages {
  margin-top: 15px;
  padding: 10px;
  background-color: var(--error-bg-color);
  border: 1px solid var(--error-border-color);
  border-radius: 4px;
  color: var(--error-text-color);
  font-weight: bold;
  text-align: center;
}

.error-messages p {
  margin: 0;
}

/* Success Messages Styling */
.success-messages {
  margin-top: 15px;
  padding: 10px;
  background-color: var(--success-bg-color);
  border: 1px solid var(--success-border-color);
  border-radius: 4px;
  color: var(--success-text-color);
  font-weight: bold;
  text-align: center;
}

.success-messages p {
  margin: 0;
}

/* Links Styling */
.forgot-password,
.signup-link,
.login-link {
  text-align: center;
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 10px;
}

.forgot-password:hover,
.signup-link:hover,
.login-link:hover {
  text-decoration: underline;
}

.switch-auth {
  text-align: center;
  margin-top: 20px;
}

.switch-auth a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.switch-auth a:hover {
  text-decoration: underline;
}
