/* Navigation Bar */
header {
    background-color: var(--bg-color);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-bottom: 2px solid #333;
}

.logo {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 900;
}

.logo:hover {
    text-decoration: underline;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-links a {
    font-family: var(--heading-font);
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
}

.navbar-links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

nav .btn {
    color: #ffffff;
}

nav .btn:hover {
    color: #ffffff;
    text-decoration: underline;
}
